.toastWrapper {
  background: #222324;
  padding: 12px 12px 12px 15px;
  border-radius: 2px;
  min-height: auto;
}
.etNotification {
  width: 220px;
  padding: 0;
  user-select: none;

  &Button {
    cursor: pointer;
    margin-left: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    color: white;
    background: transparent;
    border: unset;
    outline: none;
  }

  &Info {
    margin: 0 12px;
    color: white;
    font-size: 14px;
    line-height: 20px;
  }

  &Wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  &Icon {
    flex-shrink: 0;
  }
}
