//FONT
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600,700,800');
@import '~normalize.css';
@import "./vars";

body {
  background-color: var(--main-background);
  font-size: var(--text-font-size);
  color: var(--main-text);
}

* {
  font-family: var(--font-text);
}

h1 {
  font-size: var(--heading-font-size);
}

p,
span {
  font-size: var(--text-font-size);
}

button {
  padding: 0;
  font-size: var(--text-font-size);
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--main-color)
}

.App {
  width: 100%;
  height: 100vh;
  padding: 0.1px;
}

* {
  box-sizing: border-box;
  outline: 0;
}

input {
  font-family: var(--font-text);
  border: none;
  outline-offset: 0;
}

*::-webkit-scrollbar {
  width: 0;
  height: 0;

  &-track {
    width: 0;
    height: 0;
  }

  &-thumb {
    width: 0;
    height: 0;
  }
}

* {
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

@keyframes fade {
  from {
    opacity: 0.25;
  }
}

.leaflet-marker-shadow.marker-blinking {
  animation: fade 1s infinite alternate;
}

.leaflet-marker-icon.bar-marker-selected {

}

.slick-track {
  display: flex !important;
}
