:root {
  --main-text: #3A3A3A;
  --main-color: #b789ff;
  --main-hover: #805FBE;
  --secondary-color: #919191;
  --default-color: #C75DFF;
  --default-hover: #9955CE;
  --disabled: #747474;
  --warning-color: #FF0000;
  --warning-hover: #D90000;
  --main-background: #F4F6F9;
  --secondary-background: #687384;
  --line-color: #CBCBCB;
  --default-icon-color: #707070;

  --font-text: 'Montserrat', sans-serif;
  --heading-font-size: 28px;
  --subheading-font-size: 20px;
  --text-font-size: 14px;
}
